extend layout

block header
    p.
        Android Forensics
    button#test.btn.btn-success.btn-small Expand

block append script
    script(type = 'text/javascript', src = '/js/timeline_gen.js')
    script(type = 'text/javascript', src = '/js/button_actions.js')
    a(href="#top", class="back-to-top") Back to top







