!!! 5
html
    head
        title Battle Field
        link(rel='stylesheet', href='bootstrap.min.css')
        link(rel='stylesheet', href='bootstrap-responsive.min.css')
        meta(name='viewport', 'content'='user-scalable=yes, width=device-width, initial-scale=0.8, maximum-scale=1.2')
        link(rel='stylesheet', href='style.css')
        script(type = 'text/javascript', src = 'jquery-1.9.1.min.js')
        script(type = 'text/javascript', src = 'zepto.min.js')
        script(type = 'text/javascript', src = 'd3.js')
        script(type = 'text/javascript', src = 'opentip-jquery.min.js')
        script(type = 'text/javascript', src = 'aggregation_graph.js')

    body
        div#aggregation-pane.dropdown-div
            div#aggregation-arena
            div.text-center
                button.btn.btn-small#dropdown-ctrl-btn show

        div.container-fluid
            div.span3
                div.ctrl-panel
                    h3.text-center control panel
                    ul.nav.nav-pills.nav-stacked
                        li
                            input(type="text", placeholder="collection")#c
                            input(type="text", placeholder="selection")#s
                            input(type="text", placeholder="fields")#fs
                            input(type="text", placeholder="date keyword")#dk
                            input(type="number", placeholder="start time")#st
                            input(type="number", placeholder="end time")#et
                            input(type="text", placeholder="filter")#fr
                        li
                            div.btn-group
                                button#search.btn.btn-success Search
                                button#append.btn.btn-info Append
                                button#filter.btn.btn-warning Filter
                                button#clear.btn.btn-danger Clear
                        li.nav-header Objects
                        li
                            select(multiple="multiple")#objects
                        li.nav-header PIDs
                        li
                            select(multiple="multiple")#pids
                        li
                            div.controls.controls-row
                                select#map-reduce-fn
                            button#aggregate-btn.btn.btn-danger MapReduce
            div.span9
                h3.text-center display area
                div#arena
                    pre Show results here...
            div.span3
                div#pids-pane
                    h4.text-center Responsive PIDs
                    div#responsive-pids
                div#time-window-pane
                    h4.text-center Timeline Window
                    div.controls.controls-row
                        label.span1 Start
                        select.span2#time-window-start
                    div.controls.controls-row
                        label.span1 End
                        select.span2#time-window-end
                    button.btn.btn-success#apply-time-window Apply
                div#objects-pane
                    h4.text-center Responsive Objects
                    div#responsive-objects
        script(type = 'text/javascript', src = 'operator.js')






