.container-fluid{margin-top:25px}
h4.text-center{margin-top:20px}
input{width:100%}
select{width:100%}
.ctrl-panel{position:fixed}
ul{width:240px}
label{display:inline-block}
.span9{margin-left:20px;margin-right:10px;width:800px}
.span3{margin-left:10px}
#pids-pane{position:fixed}
#time-window-pane{position:fixed;top:350px}
#apply-time-window{float:right}
#objects-pane{position:fixed;top:500px}
.dropdown-div{position:fixed;top:-670px;z-index:100;opacity:.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";background:#fff;width:99%;height:700px;margin-left:5px}
#dropdown-ctrl-btn{position:relative;bottom:-652px}
#aggregation-pane{border:2px solid;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
#aggregation-arena{margin-top:20px;margin-left:50px}
.aggregated-graph{position:fixed}
.cluster{stroke:#000}
.aggregation-axis{fill:none;stroke:#000;shape-rendering:crispEdges;}
.aggregation-axis text{font-family:Consolas;font-size:11px}
.rule line{opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";stroke:#000;pointer-events:none}
