.container-fluid{margin-top:25px}
h4.text-center{margin-top:20px}
input{width:100%}
select{width:100%}
.ctrl-panel{position:fixed}
ul{width:240px}
label{display:inline-block}
.span9{margin-left:20px;margin-right:10px;width:800px}
.span3{margin-left:10px}
#pids-pane{position:fixed}
#time-window-pane{position:fixed;top:350px}
#apply-time-window{float:right}
#objects-pane{position:fixed;top:500px}
.dropdown-div{position:fixed;top:-470px;z-index:100;background:#808080;opacity:.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";width:100%;height:500px}
#dropdown-ctrl-btn{position:relative;bottom:-471px;margin-left:2px}
#aggregation-arena pre{position:fixed;min-height:478px;max-height:478px;width:100%}
