@import 'nib'

.container-fluid
    margin-top: 25px

h4.text-center
    margin-top: 20px

input
    width: 100%

select
    width: 100%

.ctrl-panel
    position: fixed

ul
    width: 240px

label
    display: inline-block

.span9
    margin-left: 20px
    margin-right: 10px
    width: 800px

.span3
    margin-left: 10px

#pids-pane
    position: fixed

#time-window-pane
    position: fixed
    top: 350px

#apply-time-window
    float: right

#objects-pane
    position: fixed
    top: 500px

.dropdown-div
    position: fixed
    top: -670px
    z-index: 100
    background: gray
    opacity: 0.8
    width: 100%
    height: 700px

#dropdown-ctrl-btn
    position: relative
    bottom: -652px












