body{font-family:Consolas}
.alert{position:absolute;top:25px;width:200px;left:42%}
input{width:100%}
select{width:100%}
.ctrl-panel{position:fixed;margin-left:25px}
ul{width:205px}
li.nav-header.cozy-list-header{margin-top:-5px}
#progress-bar{position:fixed;bottom:-20px;width:100%;margin-bottom:0;z-index:110}
label{display:inline-block}
#content{position:absolute;margin-left:25px;margin-top:25px}
.timeline{-webkit-user-select:none;-moz-user-select:none}
.responsive-div{margin-left:50px}
.slide-right-div{position:fixed;right:-280px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:300px;height:90%;margin-top:50px}
.slide-right-ctrl-bar{position:absolute;width:20px;height:100%;left:0;cursor:pointer;z-index:50;}
.slide-right-ctrl-bar .slide-right-ctrl{position:absolute;width:16px;height:85px;left:0;z-index:0;top:45%;background:url("/images/sidebar_icon.png") top right;-webkit-transform:rotate(0);-moz-transform:rotate(0)}
.slide-right-ctrl-bar:hover .slide-right-ctrl{background:url("/images/sidebar_icon.png") bottom right}
.slide-left-div{position:fixed;left:-280px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:300px;height:90%;margin-top:50px}
.slide-left-ctrl-bar{position:absolute;width:20px;height:100%;right:0;cursor:pointer;z-index:50}
.slide-left-ctrl{position:absolute;width:16px;height:85px;right:0;z-index:0;top:45%;background:url("/images/sidebar_icon.png") top right;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg)}
.slide-left-ctrl-bar:hover .slide-left-ctrl{background:url("/images/sidebar_icon.png") bottom right}
.btn{font-family:Consolas;font-size:13px;word-spacing:-3px;padding-right:7px;padding-left:7px}
#responsive-ids,#responsive-ids-extend{overflow-x:hidden;overflow-y:auto;height:220px;margin-top:-10px}
#responsive-ids label,#responsive-ids-extend label{margin-right:5px;font-family:Consolas}
#responsive-objects{overflow-x:hidden;overflow-y:auto;height:500px;margin-top:-5px}
#responsive-objects label{display:block;font-family:Consolas}
#object-checkbox{margin-right:5px}
#id-checkbox{margin-left:5px;margin-right:5px}
.dropdown-div{position:fixed;top:-680px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:99%;height:700px;margin-left:7px}
.popup-div{position:fixed;bottom:-400px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:69%;height:420px;margin-left:300px}
#dropdown-ctrl-pane{bottom:-240px;height:240px;width:99%;margin-left:7px;}
#dropdown-ctrl-pane p{margin-left:25px}
#extra-ctrl-pane{min-height:235px}
#running-time,#timezone-info,#temporal-info{font-family:Consolas;margin-left:5px}
#event-display-pane{margin-top:15px;}
#event-display-pane p.nav-header.text-center{margin-right:22px}
#event-display-pane .container-fluid{margin-top:-15px}
#message-display{width:450px;resize:none;margin-top:-10px}
#event-metadata{max-height:380px;width:220px;overflow-x:hidden;overflow-y:auto}
#date-display,#pid-display{font-family:Consolas;margin-left:5px;font-weight:bold}
#object-tbody td{font-family:Consolas}
.dropdown-ctrl-bar{position:absolute;width:100%;height:20px;bottom:0;cursor:pointer;z-index:50;}
.dropdown-ctrl-bar .dropdown-ctrl{position:absolute;width:85px;height:16px;bottom:0;z-index:0;left:47%;background:url("/images/dropdown_bar_icon.png") top right;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg)}
.dropdown-ctrl-bar:hover .dropdown-ctrl{background:url("/images/dropdown_bar_icon.png") top left}
.popup-ctrl-bar{position:absolute;width:100%;height:20px;top:0;cursor:pointer;z-index:50;}
.popup-ctrl-bar .popup-ctrl{position:absolute;width:85px;height:16px;top:0;z-index:0;left:45%;background:url("/images/dropdown_bar_icon.png") top right}
.popup-ctrl-bar:hover .popup-ctrl{background:url("/images/dropdown_bar_icon.png") top left}
#aggregation-pane,#responsive-pane,#event-detail-pane,#extra-ctrl-pane,#main-ctrl-pane{border:2px solid;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
#aggregation-arena{margin-top:20px;margin-left:50px}
.aggregated-graph,.stacked-graph{position:fixed}
.cluster,timeline-event{stroke:#000}
.aggregation-axis,.time-axis,.stack-axis{fill:none;stroke:#000;shape-rendering:crispEdges;}
.aggregation-axis text,.time-axis text,.stack-axis text{font-family:Consolas;font-size:11px}
.grid-main line,.grid-extend line,.grid-aggr line{opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";stroke:#000;pointer-events:none;stroke-dasharray:5,5}
.time-label{font-family:Consolas;font-size:13px;fill:#00f}
.time-indicator{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";stroke:#ffa500;stroke-dasharray:8,8;pointer-events:none}
rect.ctrl-pane,rect.timeline-ctrl-pane{cursor:move;fill:none;pointer-events:all}
.graph-title,.stack-graph-title{font-family:Consolas;font-size:200%;z-index:100;font-style:oblique;font-variant:small-caps}
.stack-graph-title{font-style:normal;font-size:100%;fill:#808080}
.back-to-top{position:fixed;right:40px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/back-to-top.png");width:64px;height:64px}
#undo{position:fixed;cursor:pointer;right:255px;bottom:10px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/undo_icon.png");width:64px;height:64px}
#trash{position:fixed;cursor:pointer;right:180px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/trash_icon.png");width:64px;height:64px}
#next-main,#next-extend{position:fixed;cursor:pointer;left:360px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/next.png");width:64px;height:64px}
#next-extend{left:1090px}
#previous-main,#previous-extend{position:fixed;cursor:pointer;left:430px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/previous.png");width:64px;height:64px}
#previous-extend{left:1160px}
#zoom-out{position:fixed;cursor:pointer;left:1230px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/zoom-out.png");width:64px;height:64px}
#zoom-in{position:fixed;cursor:pointer;left:1300px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/zoom-in.png");width:64px;height:64px}
.reset-scale{position:fixed;cursor:pointer;right:110px;bottom:20px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/reset-timeline.png");width:64px;height:64px}
#time-brush rect.background{visibility:visible !important}
.time-brush rect.background{fill:rgba(0,0,0,0.1)}
.time-brush .extent{stroke:#f09f8c;fill-opacity:.125;shape-rendering:crispEdges}
.time-brush-axis line,.time-brush-axis path{fill:none;stroke:#aaa;fill-opacity:.1;shape-rendering:crispEdges}
.time-brush-axis path{stroke:rgba(0,0,0,0.1)}
.time-brush-axis text{font-family:Consolas;font-size:12px}
