@import 'nib'

#logo
    h1
        color: #777
    p
        color: #222
        font-size: 16px
        font-family: Consolas

#side-panel
    position: fixed
    top: 5px
    
#content
    position: relative
    fieldset
        position: absolute
    #col_left
        width: 50%
        left: -5px
    #col_right
        width: 50%
        right: -5px

.timeline
    margin-top: 45px

.time-axis
    path, line
        fill: none
        stroke: black
        shape-rendering: crispEdges
        
    text
        font-family: Consolas
        font-size: 11px

.rule
    line
        opacity: 0.3
        stroke: black
        
#popup_detail
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100; // always on top of others
    opacity: 0;

.ctlbar
    position: fixed
    z-index: 100
    top: 10px

.btn
    opacity: 0.5

.back-to-top
    position: fixed
    right: 25px
    bottom: 25px
    z-index: -1
    opacity: 0
    height: 32px
    width: 32px
    background-image: url(../image/uparrow.png)

    






