body{font-family:Consolas}
.alert{position:absolute;top:25px;width:200px;left:42%;z-index:100}
.ctrl-panel{position:fixed;margin-left:25px}
ul{width:205px}
li.nav-header.cozy-list-header{margin-top:-5px}
#progress-bar{position:fixed;bottom:-20px;width:100%;margin-bottom:0;z-index:110}
#content{position:absolute;margin-left:25px;margin-top:25px}
.timeline{-webkit-user-select:none;-moz-user-select:none}
.slide-right-div{position:fixed;right:-280px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:300px;height:80%;margin-top:50px}
.slide-right-ctrl-bar{position:absolute;width:20px;height:100%;left:0;cursor:pointer;z-index:50;}
.slide-right-ctrl-bar .slide-right-ctrl{position:absolute;width:16px;height:85px;left:0;z-index:0;top:45%;background:url("/images/sidebar_icon.png") top right;-webkit-transform:rotate(0);-moz-transform:rotate(0)}
.slide-right-ctrl-bar:hover .slide-right-ctrl{background:url("/images/sidebar_icon.png") bottom right}
.slide-left-div{position:fixed;left:-280px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:300px;height:60%;margin-top:50px}
.slide-left-ctrl-bar{position:absolute;width:20px;height:100%;right:0;cursor:pointer;z-index:50}
.slide-left-ctrl{position:absolute;width:16px;height:85px;right:0;z-index:0;top:45%;background:url("/images/sidebar_icon.png") top right;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg)}
.slide-left-ctrl-bar:hover .slide-left-ctrl{background:url("/images/sidebar_icon.png") bottom right}
#dmesg-selection-input{font-family:serif;width:150px}
#radio-on,#radio-off{width:70px}
.btn{font-family:Consolas;font-size:13px;word-spacing:-3px;padding-right:7px;padding-left:7px}
#responsive-nav{margin-left:30px;margin-bottom:0}
#responsive-app-pane,#extend-tab{margin-top:10px;}
#responsive-app-pane p,#extend-tab p{margin-left:35px}
#responsive-apps,#responsive-pids,#responsive-objects{overflow-x:hidden;overflow-y:auto;max-height:660px;margin-top:-10px;margin-left:30px}
#responsive-apps label,#responsive-pids label,#responsive-objects label{margin-right:10px;font-family:Consolas}
label{display:inline-block}
#app-checkbox,#pid-checkbox,#object-checkbox{margin-left:5px;margin-right:5px;margin-top:0}
.dropdown-div{position:fixed;top:-865px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:99%;height:885px;margin-left:7px}
.popup-div{position:fixed;bottom:-400px;z-index:100;opacity:.95;filter:alpha(opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";background:#fff;width:69%;height:420px;margin-left:300px}
#running-time,#timezone-info,#temporal-info{margin-left:5px;margin-top:-5px;margin-bottom:2px}
#event-display-pane{margin-top:15px;}
#event-display-pane p.nav-header.text-center{margin-right:22px}
#event-display-pane .container-fluid{margin-top:-15px}
#event-app{width:500px}
#message-display{width:450px;resize:none;margin-top:-10px}
#event-metadata{max-height:380px;width:220px;overflow-x:hidden;overflow-y:auto;margin-left:0}
.table-list-header{margin-top:0;margin-left:-10px}
#date-display,#app-name-display,#epoch-display{font-family:Consolas;margin-left:15px;font-weight:bold;margin-top:-5px}
#install-date,#update-date{margin-top:-10px;margin-left:15px}
#app-temporal-info{max-height:310px;overflow-x:hidden;overflow-y:auto}
.service-pid{color:#00f;margin-left:10px;margin-top:-10px !important}
.service-time{font-size:90%;margin-left:40px;margin-top:-5px}
.dropdown-ctrl-bar{position:absolute;width:100%;height:20px;bottom:0;cursor:pointer;z-index:50;}
.dropdown-ctrl-bar .dropdown-ctrl{position:absolute;width:85px;height:16px;bottom:0;z-index:0;left:46.8%;background:url("/images/dropdown_bar_icon.png") top right;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg)}
.dropdown-ctrl-bar:hover .dropdown-ctrl{background:url("/images/dropdown_bar_icon.png") top left}
.popup-ctrl-bar{position:absolute;width:100%;height:20px;top:0;cursor:pointer;z-index:50;}
.popup-ctrl-bar .popup-ctrl{position:absolute;width:85px;height:16px;top:0;z-index:0;left:45%;background:url("/images/dropdown_bar_icon.png") top right}
.popup-ctrl-bar:hover .popup-ctrl{background:url("/images/dropdown_bar_icon.png") top left}
#aggregation-pane,#responsive-pane,#event-detail-pane,#extra-ctrl-pane,#main-ctrl-pane{border:2px solid;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
#aggregation-arena{margin-top:20px;margin-left:50px}
.aggregated-graph,.stacked-graph{position:fixed}
.cluster,timeline-event{stroke:#000}
.aggregation-axis,.time-axis,.stack-axis{fill:none;stroke:#000;shape-rendering:crispEdges;}
.aggregation-axis text,.time-axis text,.stack-axis text{font-family:Consolas;font-size:11px}
.grid-main line,.grid-extend line,.grid-aggr line{opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";stroke:#000;pointer-events:none;stroke-dasharray:5,5}
.time-label{font-family:Consolas;font-size:13px;fill:#00f}
.time-indicator{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";stroke:#ffa500;stroke-dasharray:8,8;pointer-events:none}
rect.ctrl-pane,rect.timeline-ctrl-pane{cursor:move;fill:none;pointer-events:all}
.graph-title,.stack-graph-title{font-family:Consolas;font-size:200%;z-index:100;font-style:oblique;font-variant:small-caps}
.stack-graph-title{font-style:normal;font-size:100%;fill:#808080}
#backward{position:fixed;cursor:pointer;left:45px;bottom:5px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/backward.png");width:64px;height:64px}
#reset-scale{position:fixed;cursor:pointer;left:115px;bottom:5px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/reset.png");width:64px;height:64px}
#forward{position:fixed;cursor:pointer;left:185px;bottom:5px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/forward.png");width:64px;height:64px}
#open-right-ctrl{position:fixed;cursor:pointer;right:185px;bottom:5px;z-index:-1;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:url("/images/right-ctrl.png");width:64px;height:64px}
#time-brush-main-pane p{margin-left:50px}
.time-brush{fill:rgba(0,0,0,0.1)}
.time-brush rect.background{visibility:visible !important}
.extent{stroke:#f09f8c;fill-opacity:.125;shape-rendering:crispEdges}
.time-brush-axis line,.time-brush-axis path{fill:none;stroke:#aaa;fill-opacity:.1;shape-rendering:crispEdges}
.time-brush-axis path{stroke:rgba(0,0,0,0.1)}
.time-brush-axis text{font-size:12px}
