@import 'nib'
/*
global-reset()

body
    font: 12px/1.2 Consolas, Arial

#logo
    position: absolute
    right: 0
    height: 100%
    width: 20%
    text-align: left
    h1
        color: #222
        margin-top: 10px
    p
        color: #777
        margin-right: 5px
*/
#content
    /*
    border: 1px solid grey
    width: 79%
    height: 100%
    */
    position: relative
    fieldset
        position: absolute
    #col_left
        border: 1px solid yellowgreen
        width: 50%
        left: -5px
    #col_right
        border: 1px solid grey
        width: 50%
        right: -5px

