@import 'nib'

#logo
    h1
        color: #777
        margin-top: 10px
    p
        color: #222
        font-size: 16px
        font-family: Consolas
    
#content
    position: relative
    fieldset
        position: absolute
    #col_left
        //border: 1px solid yellowgreen
        width: 50%
        left: -5px
    #col_right
        //border: 1px solid grey
        width: 50%
        right: -5px

.timeline
    margin-top: 35px

.time-axis
    path, line
        fill: none
        stroke: black
        shape-rendering: crispEdges
        
    text
        font-family: Consolas
        font-size: 11px

.rule
    line
        opacity: 0.3
        stroke: black
        
#popup_detail
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100; // always on top of others
    opacity: 0;

.navbar
    position: fixed
    z-index: 100

.btn
    opacity: 0.5









