!!! 5
html
    head
        title Android Forensic Timeline
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        meta(name='viewport', 'content'='user-scalable=yes, width=device-width, initial-scale=0.8, maximum-scale=1.2')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/opentip.css')
        -each script in globalScripts
            script(type = 'text/javascript', src = script)

    body
        div.progress.progress-striped.active#progress-bar
            div.bar#progress-indicator
        div#event-detail-pane.popup-div
            div#event-display-pane
                p.nav-header.text-center Event Details
                div.container-fluid
                    div#event-metadata.span2
                        ul.nav.nav-pills.nav-stacked
                            li.nav-header Date
                            li
                                div#date-display
                            li.nav-header.cozy-list-header Process ID
                            li
                                div#pid-display
                            li.nav-header.cozy-list-header System Objects
                            li
                                div#object-display
                                    table#object-table.table.table-condensed.table-hover
                                        tbody#object-tbody
                    div#event-message.span5
                        p.nav-header Messages
                        textarea(rows = "11", readonly)#message-display
                    div.span3
                        ul.nav.nav-pills.nav-stacked
                            li.nav-header Relevance Query
                            li
                                div.input-append
                                    input(type = "text", placeholder = "application name").span3#relevance-selection-input
                                    button(type = "button").btn.btn-warning#relevance-search Feel lucky
                            li.nav-header.cozy-list-header App Trace Query
                            li
                                div.input-append
                                    input(type = "text", placeholder = "application name").span3#app-trace-selection-input
                                    button(type = "button").btn.btn-success#app-trace-search Trace
                            li.nav-header.cozy-list-header App File Activity
                            li
                                div.input-append
                                    input(type = "text", placeholder = "application name").span3#file-activity-selection-input
                                    button(type = "button").btn.btn-info#file-activity-search Search
                            li.nav-header.cozy-list-header Dmesg Query
                            li
                                div.input-append
                                    input(type = "text", placeholder = "keywords ...").span3#dmesg-selection-input
                                    button(type = "button").btn#dmesg-search Query
            div.popup-ctrl-bar
                div(title="Expand event pane").popup-ctrl
        div#aggregation-pane.dropdown-div
            div#aggregation-arena
            div.dropdown-ctrl-bar
                div(title="Expand aggregation pane").dropdown-ctrl
        div#responsive-pane.slide-right-div
            div.slide-right-ctrl-bar
                div(title="Expand responsive pane").slide-right-ctrl
            div.responsive-div.tabbable
                ul.nav.nav-tabs
                    li.active
                        a(href = "#main-tab", data-toggle = "tab") Main
                    li
                        a(href = "#extend-tab", data-toggle = "tab") Extend
                div.tab-content
                    div(id = "main-tab").tab-pane.active
                        p.nav-header Responsive IDs
                        div#responsive-ids
                        p.nav-header Responsive Objects
                        div#responsive-objects
                    div(id = "extend-tab").tab-pane
                        p.nav-header Responsive IDs
                        div#responsive-ids-extend
        div.container-fluid
            div.span3
                div.ctrl-panel
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header Extent Query Target
                        li
                            select#collection-input
                                option(value='android_logs:main') main
                                option(value='android_logs:system') system
                                //option(value='android_logs:events') events
                                option(value='android_logs:radio') radio
                                //option(value='dmesg:dmesg') dmesg
                                //option(value='fs_time:fs_time') filesystem MAC
                                //option(value='inode_time:inode_time') inode MAC
                                //option(value='content_provider_browserhistory:BrowserHistory') browser history
                                //option(value='content_provider_browsersearches:BrowserSearches') browser searches
                                //option(value='content_provider_applications:Applications') applications
                                //option(value='content_provider_calllogs:CallLog') call logs
                                //option(value='content_provider_services:ServiceInfo') services
                                //option(value='content_provider_contacts:Contacts') contacts
                                //option(value='content_provider_mms:MMS') MMS
                                //option(value='content_provider_sms:SMS') SMS
                        li.nav-header.cozy-list-header Content Specification
                        li
                            input(type="text", placeholder="keywords ...")#selection-input
                        li.nav-header.cozy-list-header Timeline Window
                        li
                            select#time-window-start.selection-field
                                option from...
                            select#time-window-end.selection-field
                                option to...
                        li.nav-header.cozy-list-header Objects Selection
                        li
                            select(multiple="multiple")#objects.selection-field
                        li.nav-header.cozy-list-header IDs Selection
                        li
                            select(multiple="multiple")#ids.selection-field
                        li.nav-header.cozy-list-header Aggregation Type
                        li
                            select#map-reduce-type.selection-field
                                option aggregate by ...
                            //button#aggregate-btn.btn.btn-success.btn-small Aggregate
                        li
                            div.btn-group
                                //button#search.btn.btn-success.btn-small Search
                                button#aggregate-btn.btn.btn-success.btn-small Aggr.
                                button#expand.btn.btn-warning.btn-small Expand
                                button#filter.btn.btn-info.btn-small Filter
                                button#clear.btn.btn-danger.btn-small Clear
                        li.nav-header Time Brush [Seconds]
                        li
                            #time-brush
                        li.nav-header.cozy-list-header Device Booted [UTC]
                        li
                            #temporal-info
                        li.nav-header.cozy-list-header Timezone Setting
                        li
                            #timezone-info
                        li.nav-header.cozy-list-header Running Time Til Invest.
                        li
                            #running-time
            div.span10#content
                p.nav-header.text-center Timeline Pane
                fieldset#col_left
                    #timeline_main.timeline
                fieldset#col_right
                    #timeline_extend.timeline
        a(href="#", class="back-to-top")
        a.reset-scale
        a#undo
        a#trash
        a#next-main
        a#previous-main
        a#next-extend
        a#previous-extend
        a#zoom-out
        a#zoom-in
        script(type = 'text/javascript', src = '/js/operator.js')






