!!! 5
html
    head
        title Android Forensic Timeline
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        meta(name='viewport', 'content'='user-scalable=yes, width=device-width, initial-scale=0.8, maximum-scale=1.2')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/opentip.css')
        -each script in globalScripts
            script(type = 'text/javascript', src = script)
    body
        div.progress.progress-striped.active#progress-bar
            div.bar#progress-indicator
        div#event-detail-pane.popup-div
            div#event-display-pane
                div#time-brush-main-pane
                    p.nav-header Timeline Brush
                    #time-brush-main
                div.container-fluid
                    div#event-metadata.span4
                        ul.nav.nav-pills.nav-stacked
                            li.nav-header Date [UTC]
                            li
                                div#date-display
                            li.nav-header.cozy-list-header Epoch Value
                            li
                                div#epoch-display
                            li.nav-header.cozy-list-header Application Name
                            li
                                div#app-name-display
                            li.nav-header.table-list-header System Objects
                            li
                                div#object-display
                                    table#object-table.table.table-condensed.table-hover
                                        tbody#object-tbody
                    div#event-message.span5
                        p.nav-header Messages
                        textarea(rows = "12", readonly)#message-display
                    div#event-app.span3
                        div.row-fluid
                            div.span6
                                ul.nav.nav-pills.nav-stacked
                                    li.nav-header Relevant System Objects
                                    li
                                        select(multiple="multiple")#objects.selection-field
                                    li.nav-header.cozy-list-header Relevant Process IDs
                                    li
                                        select(multiple="multiple")#pids.selection-field
                                    li
                                        div.btn-group
                                            button#aggregate-btn.btn.btn-info.btn-small Aggregate
                                            button#file-activity-search.btn.btn-warning.btn-small Filesystem Activity
                            div#app-temporal-info.span6
                                    p.nav-header App Installation Date [UTC]
                                    #install-date
                                    p.nav-header App Last Update Date [UTC]
                                    #update-date
                                    p.nav-header Launch & Last Activity Date [UTC]
                                    ul#launch-activity-date.nav.nav-pills.nav-stacked
            div.popup-ctrl-bar
                div(title="Expand event pane").popup-ctrl
        div#aggregation-pane.dropdown-div
            div#aggregation-arena
            div.dropdown-ctrl-bar
                div(title="Expand aggregation pane").dropdown-ctrl
        div#responsive-pane.slide-right-div
            div.slide-right-ctrl-bar
                div(title="Expand responsive pane").slide-right-ctrl
            div.responsive-div.tabbable
                ul.nav.nav-tabs#responsive-nav
                    li#app-nav.active
                        a(href = "#responsive-app-pane", data-toggle = "tab") Apps
                    li#extend-nav
                        a(href = "#extend-tab", data-toggle = "tab") Aggr.
                    li#delta-nav
                        a(href = "#delta-tab", data-toggle = "tab") Delta
                div.tab-content
                    div#responsive-app-pane.tab-pane.active
                        p.nav-header Detected Applications
                        #responsive-apps
                    div#extend-tab.tab-pane
                        p.nav-header Responsive PIDs
                        div#responsive-pids
                        p.nav-header Responsive Objects
                        div#responsive-objects
        div#main-ctrl-pane.slide-left-div
            div.slide-left-ctrl-bar
                div(title="Expand control pane").slide-left-ctrl
            div.ctrl-panel
                ul.nav.nav-pills.nav-stacked
                    //li.nav-header Extent Query Target
                    //li
                    //   select#collection-input
                    //        option(value='android_logs:main') main
                    //        option(value='android_logs:system') system
                    //        option(value='android_logs:events') events
                    //        option(value='android_logs:radio') radio
                    li.nav-header Kernel Message Search
                    li
                        div.input-append
                            input(type="text", placeholder="keywords ...").span2#dmesg-selection-input
                            button(type="button").btn#dmesg-search Search
                    li.nav-header.cozy-list-header Timeline Window
                    li
                        select#time-window-start.selection-field
                        select#time-window-end.selection-field
                    //li.nav-header.cozy-list-header Aggregation Type
                    //li
                    //    select#map-reduce-type.selection-field
                    //        option aggregate by ...
                    //li
                    //    div.btn-group
                    //        button#aggregate-btn.btn.btn-success.btn-small Aggr.
                    //        button#expand.btn.btn-warning.btn-small Expand
                    //        button#filter.btn.btn-info.btn-small Filter
                    //        button#clear.btn.btn-danger.btn-small Clear
                    li.nav-header.cozy-list-header Device Booted [UTC]
                    li
                        #temporal-info
                    li.nav-header.cozy-list-header Timezone Setting
                    li
                        #timezone-info
                    li.nav-header.cozy-list-header Running Time
                    li
                        #running-time
        div#content
            p.nav-header Android Timeline Analysis
            #timeline_main.timeline
        a#backward
        a#forward
        a#reset-scale
        a#open-right-ctrl
        script(type = 'text/javascript', src = '/js/operator.js')






