!!! 5
html
    head
        title Android Forensic Timeline
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        meta(name='viewport', 'content'='user-scalable=yes, width=device-width, initial-scale=0.8, maximum-scale=1.2')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/opentip.css')
        -each script in globalScripts
            script(type = 'text/javascript', src = script)

    body
        div.progress.progress-striped.active#progress-bar
            div.bar#progress-indicator
        div#aggregation-pane.dropdown-div
            div#aggregation-arena
            div.dropdown-ctrl-bar
                div(title="Expand aggregation pane").dropdown-ctrl
        div#responsive-pane.slide-right-div
            div.slide-right-ctrl-bar
                div(title="Expand responsive pane").slide-right-ctrl
            div.responsive-div
                p.nav-header Responsive IDs
                div#responsive-ids
                p.nav-header Responsive Objects
                div#responsive-objects
        div.container-fluid
            div.span3
                div.ctrl-panel
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header Query Target
                        li
                            select#collection-input
                                option(value='android_logs:main') main
                                option(value='android_logs:system') system
                                option(value='android_logs:events') events
                                option(value='android_logs:radio') radio
                                //option(value='dmesg:dmesg') dmesg
                                //option(value='fs_time:fs_time') filesystem MAC
                                //option(value='inode_time:inode_time') inode MAC
                                //option(value='content_provider_browserhistory:BrowserHistory') browser history
                                //option(value='content_provider_browsersearches:BrowserSearches') browser searches
                                //option(value='content_provider_applications:Applications') applications
                                //option(value='content_provider_calllogs:CallLog') call logs
                                //option(value='content_provider_services:ServiceInfo') services
                                //option(value='content_provider_contacts:Contacts') contacts
                                //option(value='content_provider_mms:MMS') MMS
                                //option(value='content_provider_sms:SMS') SMS
                        li.nav-header.cozy-list-header Content Specification
                        li
                            input(type="text", placeholder="keywords ...")#selection-input
                        li
                            div.btn-group
                                button#search.btn.btn-success.btn-small Search
                                button#expand.btn.btn-info.btn-small Expand
                                button#filter.btn.btn-warning.btn-small Filter
                                button#clear.btn.btn-danger.btn-small Clear
                        li.nav-header Timeline Window
                        li
                            select#time-window-start.selection-field
                                option from...
                            select#time-window-end.selection-field
                                option to...
                        li.nav-header.cozy-list-header Objects Selection
                        li
                            select(multiple="multiple")#objects.selection-field
                        li.nav-header.cozy-list-header IDs Selection
                        li
                            select(multiple="multiple")#ids.selection-field
                        li.nav-header.cozy-list-header Aggregation Type
                        li
                            select#map-reduce-type.selection-field
                                option aggregate by ...
                            button#aggregate-btn.btn.btn-success.btn-small Aggregate
            div.span10#content
                p.nav-header.text-center Timeline Pane
                fieldset#col_left
                    #timeline_main.timeline
                fieldset#col_right
                    #timeline_extend.timeline
        a(href="#", class="back-to-top")
        a.reset-scale
        a#undo
        script(type = 'text/javascript', src = '/js/operator.js')






