!!! 5
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        meta(name='viewport', 'content'='user-scalable=yes, width=device-width, initial-scale=0.8, maximum-scale=1.2')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')        
        -each script in globalScripts
            script(type = 'text/javascript', src = script)
    body        
        #container.container-fluid
            .row-fluid
                #logo.span2
                    #side-panel
                        h1 #{name}
                        block header
                #content.span10
                    a(id='top')
                    fieldset#col_left
                        #ctlbar.ctlbar                            
                            #ctl_panel_0.btn-group
                                button#down.btn Down
                                button#up.btn Up
                                button#reset.btn Reset
                                button#in.btn Zoom in
                                button#up.btn Zoom out
                        #timeline_0.timeline
                    fieldset#col_right
                        #ctlbar.ctlbar
                            #ctl_panel_1.btn-group
                                button#down.btn Down
                                button#up.btn Up
                                button#reset.btn Reset
                                button#in.btn Zoom in
                                button#up.btn Zoom out
                        #timeline_1.timeline
                    #popup_detail.well.well-small
                    block script
