!!! 5
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        -each script in globalScripts
            script(type = 'text/javascript', src = script)
    body
        #container.container-fluid
            .row-fluid
                #logo.span2
                    h1 #{name}
                    block header
                #content.span10
                    fieldset#col_left
                        #timeline
                    #seperator
                    fieldset#col_right
                        #events
                    block script
